<% layout('layouts/boilerplate') %>

    <div class="row">
        <h1 class="text-center">New Cafe</h1>
        <div class="col-md-6 offset-md-3">
            <form action="/cafes/<%= cafe._id %>?_method=PUT " method="POST" class="needs-validation" novalidate
                enctype="multipart/form-data">
                <div class="mb-3">
                    <label class="form-label" for="title">Title</label>
                    <input class="form-control" type="text" id="title" name="cafe[title]" value="<%= cafe.title %>"
                        required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please provide a valid title.
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="location">Location</label>
                    <input class="form-control" type="text" id="location" name="cafe[location]"
                        value="<%= cafe.location %>" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please provide a valid location.
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="price">Average Price</label>
                    <div class="input-group">
                        <span class="input-group-text" id="price-label">$</span>
                        <input class="form-control" type="text" id="price" placeholder="0.00" aria-label="price"
                            aria-describedby="price-label" name="cafe[price]" value="<%= cafe.price %>" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please provide a valid price.
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="description">Description</label>
                    <textarea class="form-control" name="cafe[description]" id="description" rows="5"
                        required><%= cafe.description %></textarea>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please provide a valid description.
                    </div>
                </div>
                <div class="mb-3">
                    <label for="formFileMultiple" class="form-label">Add image(s)</label>
                    <input class="form-control" type="file" id="formFileMultiple" name="image" multiple>
                </div>
                <div class="mb-3">
                    <% cafe.images.forEach(function(img,i){ %> 
                        <img src="<%=img.thumbnail%> " class="img-thumbnail" alt="">
                        <div class="form-check-inline">
                            <input type="checkbox" id="image-<%=i%> " name="deleteImages[]" value="<%=img.filename%>">
                        </div>
                        <label for="image-<%=i%> " class="form-label">Delete?</label>
                        <% }) %> 
                </div>
                <div class="mb-3">
                    <button class="btn btn-primary">Update Cafe</button>
                </div>
            </form>
            <a href="/cafes/<%= cafe._id %> ">Back to details</a>
        </div>
    </div>